<ul class='orders-list'>
  <li id=<%= "order-#{@order.id}" %>>
    <section class="order-item-header">
      <a>Order ID: <%= @order.id %></a>
    </section>
    <section class="order-item-info">
      <%= render 'orderslist' %>
    </section>
  </li>
</ul>

<section class="order-items">
  <p>Order Items:</p>
  <%= render 'orderitemlist' %>
</section>
