<section class="splash">
  <img src="https://s3.amazonaws.com/medias.photodeck.com/87f72f35-b4d1-4027-b437-7e97f1168fe7/hand-holding-food-plate_9113_wqxga.jpg" alt="welcome image" width=200px />
  <h1>Welcome to Little Shop of Derves</h1>
  <%= link_to "Enter", items_path %>

  <h3>This is a Turing School of Software and Design Backend Mod 2 group project</h3>
  <h4>Created by Scott Thomas, Peregrine Balas, April Dagonese and Zach Nager</h4>
</section>
