<section class="splash">
  <img src="https://c7.alamy.com/comp/HP4NBT/cartoon-chef-or-baker-holding-a-silver-cloche-food-meal-plate-platter-HP4NBT.jpg" alt="welcome image" />
  <h1>Welcome to Little Shop of Derves</h1>
  <%= link_to "Enter", items_path %>

  <h3>This is a Turing School of Software and Design Backend Mod 2 group project</h3>
  <h4>Created by Scott Thomas, Peregrine Balas, April Dagonese and Zach Nager</h4>
</section>
