<h3>Statistics</h3>
<section class='merchant-stats'>
  <section id='peoples-choice'>
    <h4>People's Choice</h4>

  </section>
  <section id='fast-food'>
    <h4>Fast Food</h4>

  </section>
  <section id='slow-food'>
    <h4>Slow Food</h4>

  </section>
  <section id='foodie-states'>
    <h4>Foodie States</h4>

  </section>
  <section id='foodie-cities'>
    <h4>Foodie Cities</h4>

  </section>
  <section id='biggest-appetites'>
    <h4>Biggest Appetites</h4>
    
  </section>
</section>


<h1>All Restaurants</h1>
<%= render 'userlist' %>
