<h1>My Cart</h1>


<% if @items.nil? %>
  <p>Shopping cart is currently empty.</p>
<% else %>
  <%= render 'itemlist' %>
  <p>Grand Total: $<%= @cart.grand_total %> </p>
  <%= link_to "Empty Cart", cart_path %>
<% end %>
