<h1>My Cart</h1>

<% if @items.count == 0 %>
  <p>Your cart is currently empty.</p>
<% else %>
  <%= render 'itemlist' %>
  <p>Grand Total: $<%= @cart.grand_total %> </p>
  <%= link_to "Empty Cart", cart_path %>
  <%= button_to "Check Out", user_orders_path(current_user) if current_user %>
<% end %>
