<h1>All Items</h1>


<% @items.each do |item| %>
  <h2><%= item.name %></h2>
  <p>Cost: <%= item.cost %></p>
<% end %>

<%= link_to "Sign Up to Be a User", register_path %>
<%= link_to "I already have an account", login_path %>
