.nav-bar {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 70% 15% 15%;
  grid-column-gap: 50px;
}

.general-nav {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
}
.auth-column {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 30% 30% auto;
  grid-column-gap: 10px;
}

.line1 {
  grid-column: 1 / 4;
}
