html {
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background: #353230;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0;
  padding-top: 6px;
}

footer {
  padding-top: 12px;
  background: #ece2d0;
  height: 9vh;
}

footer a {
  text-decoration: none;
  color: darkslategray;
}

footer a:hover {
  padding-left: 12px;
  padding-right: 12px;
  color: #a26769;

}

ul, ol {
  padding-left: 0px;
}

li {
  list-style: none;
}

.button_to {
  display: inline;
  background: whitesmoke;
  color: darkslategray;
  border-radius: 5px;
}

/* NAVBAR */

.nav-bar a {
  text-decoration: none;
  color: whitesmoke;
  padding: 7px;
  padding-bottom: 8px;
}

.nav-bar a:hover {
  background: #2F3F3F;
  color: ghostwhite;
}

.nav-bar {
  background: darkslategray;
  display: inline-grid;
  width: 100%;
  height: 6vh;
  align-items: center;
  grid-template-columns: auto auto;
}

.right-nav {
  justify-content: flex-end;
  display: inline-grid;
  grid-template-columns: auto auto;
}

.general-nav {
  height: 6vh;
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto auto 55vw;
}

.auth_nav {
  height: 6vh;
  align-items: center;
  display: inline-grid;
}

.link {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

/* SPLASH PAGE */

.splash {
  display: grid;
  grid-template: 33% 33% 33% / auto;
  text-align: center;
  background-image: url('https://lh3.googleusercontent.com/snrW2_eKtRQdFX9SPmQLP23Q_eEWLRkGOia-gI-UL7Wy6-LCbbgG4e-RHHYizvHs8aAMkr6ewhMNF3gBFH-uAM3ARMK1ef08HHI2F-s9KbnH_L552pyIBaTAKAasXokYAVZUR_Mg0TzZe5bz5iDBqQOKDOenRROLscoMwcMKn3We0gUJdf_US3LP9CfyIdPsqMdTmRU8M5DmqAXRh-qxlv2sOVNYOM_c57i2BWQGSMBK5uUEwQVhg2K7YC4d94vaWdtYuJnz64_2n585PxC3AcAIbYue3lkf9OhTUMY-tYLGEyBniT-eyfRZk8IqVM5OMUxXhDn5ArA0kPnv2Vlatj64Yi1c1NaG0YpX8GOJwgcQ6Uvl4PGdcM-N0gs3--rbxiwq7R1KwcEl0pwmdz3zUAPS1vkNW1Mbmib38fCWT7Bj1U-hnnaYK0VK6FK4ueXs5gKuIJcJjKkWzLjNXBJQ-u4MIXNI7ZGgQFFPT6ahJkPHGZvkembzOE-cE03ajic6M1Tegf2pEI2LSnJ9K8ZLH2dJdlgF74p9QNQU1YV5yRm7gzVveFFADuB2krj0BRhHNmYOQbXg9-krP9gMQSYpTpa-cZHvMOPPCSLmpxbqXANd0WLo_wp8NcZ1xw4mcsAkZr4NKfUyI8mlP42VVgNhw6Shji2mDmGoQDeUh20cQzRXyodGw34sSZG9sYDEGETb_1JkX8npR5l0ZCtAq5KzQJH3=w2880-h1110-no');
  background-position: center;
  background-size: cover;
  height: 76vh;
}

.splash h1 {
  color: whitesmoke;
  text-shadow: 1px 1px darkslategray;
  font-weight: 400;
}

.splash a {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  padding: 6px;
}

.splash a:hover {
  border-radius: 3px;
  background-color: #582c4d;
}

.splash h3 {
  padding-top: 15vh;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  font-weight: 400;
}

.splash footer {
  background: #f1e9dc;
  height: 5vh;
}

/* FORMS */

.form {
  margin-top: 30px;
  padding: 18px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 35vw;
  background: #bfb5af;
  border-radius: 5px;
}

.form input {
  width: 25vw;
}

.form .label-input {
  text-align: center;
}

/* REGISTER */

.register {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://slack-imgs.com/?c=1&url=http%3A%2F%2Fwww.orlandostylemagazine.com%2Fwp-content%2Fuploads%2F2015%2F03%2Fimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* LOGIN */

.login {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/1870/6945/files/fullsizeoutput_43.jpeg?v=1527101323');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ITEMS INDEX */

.items-index h1 {
  margin: 0;
  padding: 12px;
  background: #A26769;
}

.item-statistics {
  display: grid;
  grid-template: 1 / 2;
  background: #D5B9B2;
}

.most-popular {
  grid-area: 1 / 1;
  text-align: center;
}

.least-popular {
  grid-area: 1 / 2;
  text-align: center;
}

/* ITEM SHOW */

.item-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  background: #353230;
}

.item-main-info {
  padding-top: 2%;
  padding-left: 5%;
  border-radius: 5px;
  background-color: #A26769;
  display: grid;
  grid-template: 100vh / 65vh 45vh;
  color: whitesmoke;
  height: 45vh;
  line-height: 1.75;
}

.item-main-info .item-image {
  object-fit: cover;
  width:150px;
  height:150px;
  border-radius: 5px;
  padding-left: 35%;
  padding-top: 8%;
}

.item-image img {
  height: 150px;
  width: 150px;
}

.item-main-info input {
  margin-top: 40px;
  justify-content: right;
}

.item-info {
  padding-left: 15px;
}
/* MERCHANT INDEX */

.merchant-index {
  height: 85vh;
  margin: 0;
  display: grid;
  grid-template: 10vh 70vh / 63vw 37vw;
  background-image: radial-gradient(#f1e9dc, #D5B9B2);
  overflow: scroll;
}

.merchant-titles {
  grid-area: 1 / 1 / 2 / 2;
  background: #A26769;
  background: #353230;
  color: #efe5e3;
  border-radius: 5px;
  margin: 12px;
  margin-bottom: 0px;
}

.merchant-stats {
  grid-area: 1 / 2 / 4 / 3;
  margin: 12px;
  border-radius: 5px;
  display: grid;
  grid-template: 10vh 15vh 22vh 15vh 12vh / 50% 50% ;
  /* background: #D5B9B2;
  background: #232120; */
  background: #353230;
  color: #efe5e3;
}

.merchant-stats h3 {
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
  border-bottom: 2px #a26769 solid;
  border-bottom: 2px #232120 solid;
}

.merchant-stats p {
  font-size: 13px;
}

/* DASHBOARD */

.dashboard {
  display: grid;
  grid-template: 83vh / 33vw 34vw 33vw;
  background-image: url("https://cdn.vox-cdn.com/thumbor/kItBZkuqocRmvYq3D1xqlNGh_90=/0x0:3600x2400/1200x0/filters:focal(0x0:3600x2400):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/13459465/TFT_108_Unit_01035_R__1_.jpg");
}

.dashboard .profile {
  border: 2px #d8bfb9 solid;
  border-radius: 5px;
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ece2d0;
}

.dashboard-stats {
  border: 2px #d8bfb9 solid;
  border-radius: 5px;
  margin: 6px;
  padding-left: 24px;
  background: #ece2d0;
}

.dashboard-stats h3 {
  font-size: 14px;
}

.dashboard-stats li {
  font-size: 11px;
}

/* MERCHANT ITEMS INDEX */

.merchant-items {
  height: 86vh;
  overflow: scroll;
}

.merchant-items-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.merchant-items .add-item {
  margin-top: 15px;
  margin-left: 30px;
}
.merchant-items h1 {
  margin-top: 0px;
  padding: 12px;
  background: whitesmoke;
}

.merchant-items .item {
  margin: 8px;
}

.item-id {
  padding-top: 4px;
}

.item-id h4 {
  display: inline;
}

.item-id p {
  display: inline;
}

/* NEW ITEM */

.new-item {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/VC_NewGoldRush_ChefsTables_NNaka_Supplied_nnakaA5WagyuBeefSteak_ZenSekizawa_1280x640.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* EDIT ITEM */

.edit-item {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('http://theartofplating.com/wp-content/uploads/2016/07/POTD_feature1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ADMIN DASHBOARD */

.admin-dashboard p {
  color: whitesmoke;
  background: #673F5D;
  border-radius: 5px;
  padding: 25px;
}

.admin-dashboard h1 {
  color: whitesmoke;
  margin: 0px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
  background: #673F5D;
  border-radius: 5px;
  display: inline;
}
.admin-dashboard {
  background-image: url('https://media3.s-nbcnews.com/i/newscms/2015_32/717401/oysters-lemon-stock-today-tease-150806_477f67ef1a7127c43303ec79e6d3541f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 86vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* USER PROFILE */

.edit-profile h1 {
  font-size: 22px;
}
.edit-profile h2 {
  font-size: 18px;
}
.edit-profile {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.gannett-cdn.com/-mm-/2655786dc94953efa60a8fe239232a36f792454f/c=0-246-2397-1600/local/-/media/2018/02/15/DetroitFreeP/DetroitFreePress/636543218062329743-012602018-chefstable-d-5-.jpg?width=3200&height=1680&fit=crop');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.edit-profile .form {
  margin-top: 6px;
}

/* USER PROFILE */

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://www.berlinale.de/media/filmstills/2017_2/kulinarisches_kino_10/201715768_3_IMG_FIX_700x700.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
}

.user-profile .info-page {
  padding-top: 20px;
  border-radius: 5px;
  display: grid;
  grid-template: 100vh / 65vh 35vh;
  color: whitesmoke;
  background-color: #353230;
  height: 40vh;
}

/* PARTIALS */

/* _orderslist */

.orders-list {
  height: auto;
  overflow: scroll;
  border: 2px #d8bfb9 solid;
  border-radius: 5px;
  margin: 6px;
  background: #ece2d0;
}

.orders-list li {
  margin: 8px;
  border: 2px dotted #d7cebe;
  border-radius: 5px;
  padding: 6px;
  padding-left: 17px;
}

/* _infopage */

.info-page {
  text-align: center;
  margin: 6px;
}

.info-page-buttons {
  display: flex;
  grid-area: 1 / 2 / 1 / 2;
  padding: 20px;
}

.profile {
  /* grid-area: 1 / 1 / 1 / 1;
  display: grid; */
    /* width: 60vw;
  padding: 20px; */
}

.profile p {
  text-align: center;
}

/* _itemlist */

.item-list {
  display: grid;
  height: 43vh;
  overflow: scroll;
  background: #f1e9dc;
}

.item {
  margin-left: auto;
  margin-right: auto;
  background: #ece2d0;
  text-align: center;
  border: 2px dotted #d7cebe;
  border-radius: 5px;
  width: 50vw;
  display: grid;
  grid-template: auto / 30% auto;
}

.item img {
  margin: 12px;
  grid-area: 1 / 1 / 5 / 2;
  object-fit: cover;
  width:150px;
  height:150px;
  border-radius: 5px;
}

/* _userlist */

.user-list {
  margin: 12px;
  overflow: scroll;
  border: 4px darkslategray solid;
  border-radius: 5px;
}

.user {
  background: #ece2d0;
  border: 2px #d7cebe dotted;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
}

.auth-column {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 10px;
}

.line1 {
  grid-column: 1 / 4;
}

.title-block {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  background: #bfb5af;
}

.title-full {
  padding-left: 12px;
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px darkslategray;
}

.title {
  margin-left: 10px;
}

.full {
  display: inline-grid;
  width: 100%;
  justify-content: space-between;
}

.cart-nav {
  margin-top: 10px;
  margin-right: 15px;
  display: inline-grid;
}

/* MERCHANT INDEX */

#peoples-choice {
  grid-area: 2 / 1 / 3 / 3;
  text-align: center;
  overflow: scroll;
}

#peoples-choice p {
  margin: 1px;
}

#fast-food {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
  overflow: scroll;
}

#fast-food p {
  margin: 1px;
}

#slow-food {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  overflow: scroll;
}

#slow-food p {
  margin: 1px;
}

#foodie-states {
  text-align: center;
  overflow: scroll;
}

#foodie-states p {
    margin: 1px;
}

#foodie-cities {
  text-align: center;
  overflow: scroll;
}

#foodie-cities p {
    margin: 1px;
}

#biggest-appetites {
  grid-area: 5 / 1 / 6 / 3;
  text-align: center;
  overflow: scroll;
}

#biggest-appetites p {
  margin: 1px;
}


/* .title-block {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a b b c c d d"
    "e e f f g g h h";
  align-items: start;
}
.title {
  grid-area: a;
}
.login-status {
  grid-area: d;
}
.cart-nav {
  grid-area: h;
} */
