.nav-bar {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.general-nav {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 10px;
}
.auth-column {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 10px;
}

.line1 {
  grid-column: 1 / 4;
}

.title-block {
  display: inline-grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}

.full {
  display: inline-grid;
  width: 100%;
  justify-content: space-between;
}

.cart-nav {
  display: inline-grid;
}

/* .title-block {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a b b c c d d"
    "e e f f g g h h";
  align-items: start;
}
.title {
  grid-area: a;
}
.login-status {
  grid-area: d;
}
.cart-nav {
  grid-area: h;
} */
