<!---Title Block--->
<section class="title-block full">
  <h1 class="title-full">Little Shop of Hors d'Oeuvres</h1>
  <section class="login-status full">
    <% if current_user %>
      <p>Logged in as <%= current_user.name %></p>
    <% end %>
  </section>
  <div class="cart-nav full">
    <% if !current_user || current_user.registered? %>
      <p>
        <a href="/cart" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Cart (<%= @cart.total_count %>)
        </a>
      </p>
    <% end %>
  </div>
</section>
